body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  background-color: #3b3938;
}

header a {
  color: white;
  font-size: 33px;
  margin-left: 10px;
  text-decoration: none;
}

.toggle li i {
  color: white;
  font-size: 25px;
  margin-right: 15px;
}

ul {
  list-style: none;
}

.content {
  text-align: left;
  padding: 10px;
  background-color: #16100c;
}

h1 {
  font-size: 50px;
  height: 124px;
  color: #ff6c03;
  margin-bottom: 0%;
  letter-spacing: 0.37px;
  font-family: 'Crete Round', serif;
  font-weight: normal;
}

.product {
  color: rgb(250, 250, 250);
  margin-top: 0%;
}

.Dev {
  font-size: 24px;
  margin-top: 3%;
  font-weight: 700;
  margin-bottom: 1%;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;
  color: rgb(238, 230, 220);
}

#background {
  background: no-repeat url("Group.png") 100% 10%;
  height: 250px;
  position: static;
  margin-top: -117px;
}

.work-section h4 {
  color: #1c1a19;
  height: 83px;
  margin: 24px 9px;
  margin-top: 73px;
  margin-left: 10px;
  font-size: 40px;
  font-weight: normal;
  font-family: 'Crete Round', serif;
}

.solid {
  border-top: 2px solid rgb(187, 187, 187);
}

.pictures {
  background: no-repeat url("Image\(1\).png") 100% 10%;
  position: static;
  height: 237px;
  display: grid;
  left: 24px;
  top: 1px;
  margin: 24px 1px;
  background-position: center;
  background-repeat: no-repeat;
}

.picture {
  height: 53px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

#post {
  font-weight: 400;
  font-size: 32px;
  height: 36px;
  margin-left: 10px;
  align-items: center;
  line-height: 44px;
  margin-top: 24px;
  font-family: 'Crete Round', serif;
  color: #091e42;
}

.daily {
  color: #091e42;
  font-size: 16px;
  font-weight: normal;
  height: 147px;
  margin: 5px 12px;
  margin-top: -18px;
  top: 48px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
}

.grid-container {
  margin: 14px;
  display: flex;
  align-items: center;
}

.grid {
  margin-left: -53px;
  display: flex;
  align-items: center;
}

.grid-item {
  display: flex;
  height: 28px;
  border: 1px solid black;
  align-items: center;
  font-size: 18px;
  padding: 5px;
  margin: 7px 11px;
}

#button {
  color: #fff;
  padding: 24px;
  font-weight: bold;
  font-size: 17px;
  line-height: 4px;
  height: 24px;
  top: 12px;
  margin-left: 12px;
  margin-bottom: -42px;
  border: none;
  cursor: pointer;
  display: flex;
}

#button:hover {
  background-color: orange;
}

#button:enabled {
  background: #ff6c03;
}

#button:active {
  background: #bbb;
}

.bottom {
  overflow: hidden;
  margin-top: 20px;
  background-size: cover;
  margin-bottom: -58px;
  padding: 24px 1px 24px;
  position: relative;
}

.centered {
  position: absolute;
  top: 40%;
  left: 55%;
  color: white;
  transform: translate(-50%, -50%);
}

.display {
  border: 1px solid rgb(112, 109, 109);
  text-align: center;
  font-size: 20px;
  background-color: rgb(87, 84, 84);
  padding: 5px;
  margin: 0 3px;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  width: 100%;
  color: aliceblue;
  background-color: #f06808;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: rgb(247, 93, 37);
  color: white;
}

.btn:enabled {
  background: #ff6c03;
}

.btn:active {
  background: orange;
}

.about {
  background-color: black;
  position: absolute;
  height: 1901px;
  left: 0%;
  top: 3304px;
  padding: 24px 1px 24px;
}

.about h2 {
  display: flex;
  color: #f76802;
  font-family: 'Crete Round', serif;
  font-size: 62px;
  margin-left: 20px;
  margin-bottom: 8px;
  font-weight: normal;
  letter-spacing: 0.37px;
}

.about p {
  font-weight: normal;
  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  height: 148px;
  left: 24px;
  margin-left: 20px;
}

.grid-containers {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1px;
}

#Resume {
  font-size: 17px;
  color: #fff;
  background-color: #f06808;
  border: none;
  padding: 12px 12px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  margin-left: 20px;
  margin-bottom: 80px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

#ground {
  background: no-repeat url("Group2.png") 100% 10%;
  height: 250px;
  position: static;
  margin-top: -117px;
}

.languages {
  color: #fff;
  text-align: center;
  font-size: 29px;
  padding: 94px 1px 94px 1px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  line-height: 44px;
  margin-top: -6px;
}

.languages ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.languages li {
  font-size: 24px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 30px;
}

.framework {
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  font-weight: bold;
  padding: 28px 1px 128px 1px;
  line-height: 44px;
  font-size: 30px;
  margin-top: -140px;
}

.framework ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.framework li {
  font-size: 24px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 30px;
}

.skill {
  color: #fff;
  text-align: center;
  font-size: 29px;
  padding: 94px 1px 94px 1px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  line-height: 44px;
  margin-top: -245px;
}

.skill ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill li {
  font-size: 24px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #fff;
  align-items: center;
  margin: 4930px 27px 0 27px;
}

.text {
  flex: 1;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #172b4d;
  height: 216px;
  margin-top: -112%;
  letter-spacing: 0.03em;
  justify-self: center;
  margin-bottom: -20%;
}

.toll {
  display: none;
}

.player {
  flex: 1;
  margin-top: 73px;
}

input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding-right: 88px;
  padding-bottom: 16px;
}

::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  height: 18px;
}

.name {
  flex: 1;
  display: flex;
  padding: 12px 10px 10px 12px;
  flex-direction: column;
}

.form {
  flex: 1;
  margin-top: 36.5px;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  flex: 1;
  height: 114px;
  padding: 12px;
  margin-top: 24px;
  background-color: #fbf8f7;
  border: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.button_class {
  flex: 1;
  padding: 12px;
  height: 48px;
  background-color: #ff6b00;
  color: #fff;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

.buttonclub {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

button:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

button:enabled {
  background: #f55800;
}

button:active {
  background: #e05304;
  color: #f4f1f0;
}

button:hover {
  background: #fff5e1;
  color: #f55800;
}

textarea::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.border {
  height: 5px;
  margin-right: 52%;
  margin-top: 73px;
  max-width: 110%;
}

.icongroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 25px;
  height: 40px;
  left: calc(50% - 200px / 2 + 0.5px);
  top: calc(50% - 40px / 2);
  margin-bottom: 0;
  margin-left: 19%;
  margin-right: auto;
}

.githubx {
  margin-top: 3px;
  padding-right: 12px;
}

.linkedinx {
  margin-top: 3px;
  padding-right: 12px;
}

.angelistx {
  margin-top: 3px;
  padding-right: 12px;
}

.twitterx {
  margin-top: 3px;
  padding-right: 12px;
}

.mediumx {
  margin-top: 6px;
  padding-right: 12px;
}

.shape {
  display: block;
  width: 50%;
  margin-right: 14%;
  margin-top: 5%;
  margin-left: 9%;
}
