@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@100&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

html {
  overflow: scroll;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.main {
  justify-content: center;
  align-items: center;
  margin: auto;
}

header {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  background-color: #3b3938;
  width: 375px;
}

header a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 36px;
  text-decoration: none;
  line-height: 24px;
}

.toggle {
  margin-inline-end: 8%;
}

.toggle li i {
  color: white;
  font-size: 25px;
  margin-right: 36px;
}

ul {
  list-style: none;
}

.content {
  text-align: left;
  padding: 10px 0;
  background-color: #1c1a19;
  width: 375px;
}

h1 {
  font-size: 50px;
  color: #ff6c03;
  letter-spacing: 0.37px;
  font-family: "Crete Round", serif;
  font-weight: normal;
  margin-left: 24px;
  margin-bottom: 10px;
}

.content h3 {
  position: static;
  width: 290px;
  left: 24px;
  top: 256px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  margin-bottom: 10px;
  margin-left: 24px;
}

.content p {
  position: static;
  width: 290px;
  left: 24px;
  top: 295px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
  margin-left: 24px;
  margin-bottom: 10px;
}

#background {
  background: no-repeat url("Group.png") 100% 10%;
  height: 250px;
  position: static;
  margin-top: -117px;
}

.icon-item {
  color: white;
}

.work-section h4 {
  color: #1c1a19;
  height: 83px;
  margin: 24px 9px;
  margin-top: 73px;
  margin-left: 24px;
  font-size: 40px;
  font-weight: normal;
  font-family: "Crete Round", serif;
  text-align: center;
}

.solid {
  border-top: 2px solid rgb(187, 187, 187);
  width: 327px;
}

.pictures {
  background: no-repeat url("Image\(1\).png");
  position: static;
  height: 237px;
  display: grid;
  width: 327px;
  left: 24px;
  top: 1px;
  margin: 24px 1px;
  background-position: center;
  background-repeat: no-repeat;
}

.post-stories {
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
}

.picture {
  height: 53px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  width: 375px;
}

#post {
  font-weight: 400;
  font-size: 32px;
  align-items: center;
  line-height: 44px;
  margin-top: 24px;
  font-family: "Crete Round", serif;
  color: #091e42;
  margin-bottom: 0;
}

.daily {
  color: #091e42;
  font-size: 16px;
  font-weight: 400;
  font-weight: normal;
  margin-bottom: 12px;
  margin-top: 12px;
  top: 48px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}

.post-button {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.post-tag {
  height: 40px;
  border-radius: 0;
  padding: 5px 13px;
  border: 1px solid #8993a4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #091e42;
}

#button {
  color: #fff;
  padding: 24px;
  font-weight: bold;
  font-size: 17px;
  line-height: 4px;
  height: 24px;
  top: 12px;
  margin-bottom: -42px;
  border: none;
  cursor: pointer;
  display: flex;
}

button:enabled {
  background: #ff6c03;
}

.bottom {
  height: 386px;
  width: 90%;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  background-image: url(image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  color: white;
  display: flex;
  flex-direction: column;
  height: 347px;
  width: 95%;
  margin: 0 auto;
}

.daily-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.centered h3 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin-top: 80px;
  margin-bottom: -1px;
}

.display {
  border: 1px solid rgb(112, 109, 109);
  text-align: center;
  font-size: 15px;
  background-color: rgb(87, 84, 84);
  padding: 10px 15px;
  margin: 0 3px;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  width: 100%;
  color: aliceblue;
  background-color: #f06808;
  cursor: pointer;
  font-size: 18px;
}

.btn:enabled {
  background: #ff6c03;
}

.about {
  background-color: #1c1a19;
  position: absolute;
  height: 2100px;
  left: 0;
  top: 3230px;
  width: 375px;
  padding: 24px 1px 24px;
}

.about h2 {
  display: flex;
  color: #f76802;
  font-family: "Crete Round", serif;
  font-size: 62px;
  margin-left: 20px;
  margin-bottom: 8px;
  font-weight: normal;
  letter-spacing: 0.37px;
}

.about p {
  font-weight: normal;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  height: 148px;
  left: 24px;
  margin-left: 20px;
}

.grid-containers {
  margin-top: -10px;
  margin-bottom: 10px;
  display: flex;
  padding: 1px;
}

#Resume {
  font-size: 17px;
  color: #fff;
  background-color: #f06808;
  border: none;
  padding: 12px 12px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin-left: 20px;
  margin-bottom: 120px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

#ground {
  background: no-repeat url("Group2.png") 100% 10%;
  height: 250px;
  position: static;
  margin-top: -117px;
}

.languages {
  color: #fff;
  text-align: center;
  font-size: 29px;
  padding: 94px 1px 94px 1px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  line-height: 44px;
  margin-top: -6px;
}

.languages ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 42px;
}

.languages li {
  font-size: 24px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 10px;
}

.framework {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  align-items: center;
  font-weight: bold;
  padding: 28px 1px 128px 1px;
  line-height: 44px;
  font-size: 30px;
  margin-top: -120px;
}

.framework ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.framework li {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
}

.skill {
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 94px 1px 94px 1px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  line-height: 44px;
  margin-top: -230px;
}

.skill ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.skill li {
  font-size: 24px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 30px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  background-color: #fff;
  margin: 4930px 27px 0 0;
  width: 375px;
}

.text {
  flex: 1;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #172b4d;
  height: 216px;
  margin-top: -80%;
  letter-spacing: 0.03em;
  justify-self: center;
  margin-bottom: -20%;
  width: 70%;
}

.text h2 {
  margin-inline-end: 12%;
}

.toll {
  display: none;
}

.player {
  padding-left: 20px;
  flex: 1;
  margin: 0 auto;
  margin-top: 73px;
}

input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding-right: 88px;
  padding-bottom: 16px;
  width: 90%;
}

::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  height: 18px;
}

.name {
  flex: 1;
  display: flex;
  padding: 12px 10px 10px 12px;
  flex-direction: column;
}

.form {
  flex: 1;
  margin-top: 36.5px;
  width: 80%;
}

input[type='text'] {
  margin-bottom: -10px;
}

textarea {
  flex: 1;
  height: 90px;
  padding: 12px;
  margin: 0 auto;
  margin-top: 24px;
  background-color: #fbf8f7;
  border: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  left: 0;
  top: 0;
  border-radius: 0;
  width: 100%;
}

.button_class {
  flex: 1;
  padding: 12px;
  height: 48px;
  background-color: #ff6b00;
  color: #fff;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  margin-bottom: 45px;
  margin-top: -5px;
}

.buttonclub {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.btn:disabled,
#Resume:disabled,
#button:disabled,
.button_class:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.btn:active,
#Resume:active,
#button:active,
.button_class:active {
  background: #e05304;
  color: #f4f1f0;
}

.btn:link,
#Resume:link,
#button:link,
.button_class:link {
  background: #f55800;
  color: #fff;
}

.btn:hover,
#Resume:hover,
#button:hover,
.button_class:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
  transition: all 0.5s ease-in-out;
}

textarea::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.border {
  height: 35px;
  margin: 0;
  width: 375px;
}

.icongroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 1.2rem;
}

.githubx {
  margin-top: 3px;
  padding-right: 12px;
}

.linkedinx {
  margin-top: 3px;
  padding-right: 12px;
}

.angelistx {
  margin-top: 3px;
  padding-right: 12px;
}

.twitterx {
  margin-top: 3px;
  padding-right: 12px;
}

.mediumx {
  margin-top: 6px;
  padding-right: 12px;
}

.shape {
  width: 50%;
  margin: 0;
}
dataa

areaa
areaa
area
area
area
area
a
areaa
